<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>
 
<p>
  <strong>discreption:</strong>
  <%= @blog.discreption %>
</p>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

